<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.EmotionMapper">

    <select id="isExistEmotionRelation" parameterType="domain.EmotionRelation" resultType="boolean">
        SELECT IF(COUNT(*) != 0, 1, 0) FROM item_emotion WHERE item_id = #{itemId} and emotion_id = #{emotionId} and user_id = #{userId}
    </select>
    <insert id="createEmotion" parameterType="domain.EmotionRelation">
        INSERT INTO item_emotion (item_id, emotion_id, user_id) VALUES(#{itemId},#{emotionId},#{userId})
    </insert>

    <delete id="deleteEmotion" parameterType="domain.EmotionRelation">
        DELETE FROM item_emotion WHERE item_id=#{itemId} AND  emotion_id=#{emotionId} AND  user_id=#{userId}
    </delete>
</mapper>
